}
.hover a:hover{
    color: red;
}
.hover2 a:hover{
    font-weight: bold;
}
table{
    border: 3px dotted black;
    margin: auto;
}
td{
  border: 1px solid red;
    width: 60px;
    height: 40px;
}
td:hover{
    background-color: blueviolet;
}
.div1{
    float: left;
    width: 25%;
    padding: 5px;
}
.div2{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.ortayazi{
    width: 200px;
    background-color: lightgray;
    margin: auto;
}