h1{
    text-align: center;
    color: darkred;
}
*{box-sizing: border-box}
body{
    font-family: calibri;
    background-color: black;
    background-repeat: repeat;
    position: fixed;
    position: absolute;
}
.anadiv{
    margin: auto;
    border: 3px solid black;
    width: 80%;
    background-color: #363535;
    min-height: 500px;
}
.banner{
    display: block;
    margin: auto;
    width: 80%;
    height: 500px;
}
.banner2{
    display: block;
    margin: auto;
    width: 80%;
    height: 300px;
}
ul{
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #4f0700;
    width: 80%;
    list-style-type: none;
}
li{
    float: left;
    width: 0%;
}
li a{
    font-size: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid black;
}
li a:hover{
    color: aqua;
}

.link{
    width: 50%;
    background-color: #363535;
    margin: auto;
    min-height: 200px;
    text-align: left;
    font-size: 20px;
    color: #00956f;
    text-align: center;
}
.ul{
    width:60%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    list-style-type: none;
    border-style: none;
}
.homebutton{
    position: fixed;
    left: 10px;
    top: 20px;
    width: 30px;
}
.dcbutton{
    position: fixed;
    left: 1270px;
    top: 20px;
    width: 30px;
}

